#codigo:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    border-color: #86b7fe;
}

#codigo:invalid:not(:placeholder-shown) {
    border-color: #dc3545;
}

@media (max-width: 576px) {
    #codigo {
        font-size: 1.5rem !important;
    }
}