<div class="d-grid gap-3 mb-3">
    <div class="btn btn-primary btn-lg py-3 shadow-sm">
        <span class="fs-4 fw-bold">PERFIL JUGADOR</span>
    </div>
</div>

{{#perfil}}
    {{username}}
{{/perfil}}