{{#usuario}}
    <p>Nombre: {{nombre_completo}}</p>
    <p>Usuario: {{username}}</p>
    <p>Fecha de Registro: {{fecha_registro}}</p>
    <p>El estado de tu cuenta es: {{cuenta_activa}}</p>
{{/usuario}}

<a href="/game/jugarPartida?action=nueva">Crear Partida</a> <a href="/user/lobby?action=salir">Salir</a>