<div class="w3-container w3-center w3-margin">
    <h2>Puntaje actual: {{puntaje}}</h2>

    <p>Tiempo restante: <span id="tiempo">{{tiempo_limite}}</span></p>

    {{#partida}}
        <p>Categoria: {{pregunta.categoria}}</p>
        <h2>Pregunta: {{pregunta.pregunta}}</h2>

        <form method="POST" action="/game/jugarPartida" id="formPregunta">
            <div class="w3-padding">

                {{#respuestas}}
                    <button class="w3-button w3-blue w3-margin-bottom" type="submit" name="idRespuesta" value="{{id}}">
                        {{texto}}
                    </button>
                    <br>
                {{/respuestas}}

            </div>
        </form>
    {{/partida}}

    <script>
        let tiempo = {{tiempo_limite}};
        const tiempoLimite = {{tiempo_limite}};
        const temporizador = setInterval(() => {
            tiempo--;
            document.querySelector('#tiempo').textContent = tiempo;

            if (tiempo <= 0) {
                clearInterval(temporizador);
                document.querySelector('#formPregunta').submit();
            }
        }, 1000);
    </script>
</div>