<div class="container text-center col-8">
    <div class="d-flex g-3 align-items-center justify-content-center gap-4">
        <a href="/game/ranking?ranking=partidas">
            <div class="btn {{#vista_activa}}{{#partidas}}btn-primary{{/partidas}}{{^partidas}}btn-secondary{{/partidas}}{{/vista_activa}} btn-lg py-3 shadow-sm">
                <div class="fs-4 fw-bold">MEJORES PARTIDAS</div>
            </div>
        </a>
        <a href="/game/ranking?ranking=jugadores">
            <div class="btn {{#vista_activa}}{{#jugadores}}btn-primary{{/jugadores}}{{^jugadores}}btn-secondary{{/jugadores}}{{/vista_activa}} btn-lg py-3 shadow-sm">
                <div class="fs-4 fw-bold">MEJORES JUGADORES</div>
            </div>
        </a>
    </div>

    <div class="jugadores" {{^jugadores}}hidden{{/jugadores}}>
        <div class="row bg-primary"
             style="align-items: center;justify-content: center;background-color: #dee2e6; padding: 1rem 0;margin-top: 2.5rem;color: white;">
            <div class="col">
                <div class="container text-center">
                    <div class="row row-cols-flex">
                        <div class="col-4 col-sm fs-6 fw-bold">Posición</div>
                        <div class="col-4 col-sm fs-6 fw-bold">Avatar</div>
                        <div class="col-4 col-sm fs-6 fw-bold">Nombre</div>
                        <div class="col-4 col-sm fs-6 fw-bold">Puntaje</div>
                    </div>
                </div>
            </div>
        </div>

        {{#jugadores}}
            <a href="/game/jugador?id={{id}}" style="text-decoration: none;color: #212529;">
            <div class="row poke" style="align-items: center; border: 1px solid #dee2e6; padding: 1.5rem 0;">
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="container text-center">
                        <div class="row align-items-center">
                            <div class="col-3 d-flex justify-content-center">
                                {{posicion}}
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                                <div class="text-center">
                                    <img width="45px"
                                         height="45px"
                                         src="/public/imagenes/default-avatar.jpg"
                                         alt="Foto de perfil"
                                         class="rounded-circle border border-3 border-primary d-block mx-auto"
                                         style="object-fit: cover;">
                                </div>
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                                {{username}}
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                                {{puntos_acumulados}} pts
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        {{/jugadores}}

        {{^jugadores}}
            {{#vista_activa}}
                {{#jugadores}}
                {{/jugadores}}
                {{^jugadores}}
                    <div class="text-center py-4">
                        <p>No hay jugadores disponibles</p>
                    </div>
                {{/jugadores}}
            {{/vista_activa}}
        {{/jugadores}}
    </div>

    <div class="partidas" {{^partidas}}hidden{{/partidas}}>
        <div class="row bg-primary"
             style="align-items: center;justify-content: center;background-color: #dee2e6; padding: 1rem 0;margin-top: 2.5rem;color: white;">
            <div class="col">
                <div class="container text-center">
                    <div class="row row-cols-flex">
                        <div class="col-4 col-sm fs-6 fw-bold">Posición</div>
                        <div class="col-4 col-sm fs-6 fw-bold">Avatar</div>
                        <div class="col-4 col-sm fs-6 fw-bold">Nombre</div>
                        <div class="col-4 col-sm fs-6 fw-bold">Puntaje</div>
                    </div>
                </div>
            </div>
        </div>

        {{#partidas}}
            <a href="/game/jugador?id={{id}}" style="text-decoration: none;color: #212529;">
            <div class="row poke" style="align-items: center; border: 1px solid #dee2e6; padding: 1.5rem 0;">
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="container text-center">
                        <div class="row align-items-center">
                            <div class="col-3 d-flex justify-content-center">
                                {{posicion}}
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                                <div class="text-center">
                                    <img width="45px"
                                         height="45px"
                                         src="/public/imagenes/default-avatar.jpg"
                                         alt="Foto de perfil"
                                         class="rounded-circle border border-3 border-primary d-block mx-auto"
                                         style="object-fit: cover;">
                                </div>
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                                {{username}}
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                                {{puntaje_final}} pts
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        {{/partidas}}

        {{^partidas}}
            {{#vista_activa}}
                {{#partidas}}
                {{/partidas}}
                {{^partidas}}
                    <div class="text-center py-4">
                        <p>No hay partidas disponibles</p>
                    </div>
                {{/partidas}}
            {{/vista_activa}}
        {{/partidas}}
    </div>
</div>