<div class="w3-container w3-center w3-margin">
    <h2>Fin de la Partida</h2>

    <p>La respuesta correcta a la pregunta
        {{pregunta}} de la categoria {{categoria}} era: {{respuestaCorrecta}}</p>
    <div class="w3-panel w3-pale-red w3-padding">
        <p>{{mensaje}}</p>
    </div>

    <h3>Tu puntaje final es: {{puntajeFinal}}</h3>

    <a href="/game/jugarPartida" class="w3-button w3-green w3-margin-top">Jugar de Nuevo</a>
    <a href="/user/lobby" class="w3-button w3-blue w3-margin-top">Volver al Lobby</a>
</div>