<p>Validar Aqui Codigo: #####</p>
{{#mensaje}}
    <div style="background: #d4edda; color: #155724; padding: 15px; margin: 20px 0; border-radius: 5px;">
        {{mensaje}}
    </div>
{{/mensaje}}

<a href="/user/ingresar">Ir al login</a>